body {
    margin: 0;
    padding: 0;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;

    .startClass {
        width: 500px;
        margin: 0 auto;
        padding-top: 50px;

        h1 {
            font-weight: normal;
        }

        a {
            color: #E41C66;
            border-bottom: 1px dotted #E41C66;
            text-decoration: none;
        }

        button {
            background-image: linear-gradient(to right, #FE9F6C, #E41C66);
            border: none;
            color: white;
            padding: 5px 50px;
            font-size: 20px;
        }
    }

    .chipsContainerClass {  
        background-image: linear-gradient(to right, #FE9F6C, #E41C66);

        h2 { 
            color: white;
            text-align: center;
            font-size: 30px;
            margin: 10px;
            font-weight: normal;
        }

        h4 {
            color: white;
            margin: auto;
            max-width: 500px;
            text-align: center; 
            font-weight: normal;
        }
    
        .chipsClass {
            background: transparent;
            padding: 30px;
            width: 800px;
            margin: auto;
            display: grid;
            grid-template-columns: auto auto auto;

            .chipContClass {
                background: white;
                margin: 10px;
                padding: 30px;

                div {
                    border: 2px solid #E41C66;
                    width: 60px;
                    height: 70px;
                    margin: auto auto 15px auto;
                }
            }
        }
    }
    
    .appLinkClass {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 1000px;

        #logo {
            content: url(logo.png);
            width: 200px;
        }

        div {
            display: grid;
            grid-template-rows: auto auto;

            span {
                margin-top: 30px;
            }

            a {
               margin: auto auto;

                #playMarketLink {
                    content: url(appMarketLink.png);
                    width: 100px;
                }
            }
        }
    }

    .clRegClass {
        background-image: linear-gradient(to right, #FE9F6C, #E41C66);

        h2 {
            color: white;
            text-align: center;
            font-weight: normal;
            padding: 10px;
            margin: 0;
        }
    }

    .clientFormClass {
        background-image: url(formBckg.png);
        background-repeat: round;

        form {
            margin: 0 auto;
            width: 500px;
            background: #F2EDED;
            padding: 15px 70px;

            .formContainer {
                display: flex;
                flex-direction: column;
                margin: 5px;

                input[type=text] {
                    width: auto;
                }

            }

            button[type=submit] {
                background-image: linear-gradient(to right, #FE9F6C, #E41C66);
                border: none;
                color: white;
                padding: 5px 50px;
                    font-size: 20px;
            }
        }
    }

    .copyrightClass {
        background-image: linear-gradient(to right, #FE9F6C, #E41C66);

        h4 {
            color: white;
            text-align: center;
            font-weight: normal;
            margin: 0;
            padding: 5px;
        }
    }
}