body {
  margin: 0;
  padding: 0;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
body .noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                        supported by Chrome, Opera and Firefox */
}
body .imgClass {
  background-image: url(web-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body .imgClass .startClass {
  width: 500px;
  margin: 50px 360px 0 360px;
}
body .imgClass .startClass h1 {
  font-weight: normal;
}
body .imgClass .startClass a {
  color: #E41C66;
  border-bottom: 1px dotted #E41C66;
  text-decoration: none;
}
body .imgClass .startClass button {
  background-image: linear-gradient(to right, #FE9F6C, #E41C66);
  border: none;
  color: white;
  padding: 5px 50px;
  font-size: 20px;
}
body .imgClass .chipsContainerClass {
  margin: 850px 330px 0 330px;
}
body .imgClass .chipsContainerClass h2 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 0 10px;
  font-weight: normal;
}
body .imgClass .chipsContainerClass h4 {
  color: white;
  margin: auto;
  max-width: 500px;
  text-align: center;
  font-weight: normal;
}
body .imgClass .chipsContainerClass .chipsClass {
  background: transparent;
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 50px;
}
body .imgClass .chipsContainerClass .chipsClass .chipContClass {
  background: white;
  margin: 30px;
  padding: 30px;
  width: auto;
}
body .imgClass .chipsContainerClass .chipsClass .chipContClass div {
  border: 2px solid #E41C66;
  width: 60px;
  height: 70px;
  margin: auto auto 15px auto;
}
body .appLinkClass {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1000px;
}
body .appLinkClass #logo {
  content: url(logo.png);
  width: 200px;
}
body .appLinkClass div {
  display: grid;
  grid-template-rows: auto auto;
}
body .appLinkClass div span {
  margin-top: 30px;
}
body .appLinkClass div a {
  margin: auto auto;
}
body .appLinkClass div a #playMarketLink {
  content: url(appMarketLink.png);
  width: 100px;
}
body .clRegClass {
  background-image: linear-gradient(to right, #FE9F6C, #E41C66);
}
body .clRegClass h2 {
  color: white;
  text-align: center;
  font-weight: normal;
  padding: 10px;
  margin: 0;
}
body .clientFormClass {
  background-color: black;
}
body .clientFormClass form .formDivCl {
  margin: 0 auto;
  width: 500px;
  padding: 15px 70px;
  background: #F2EDED;
}
body .clientFormClass form .formDivCl .formContainer {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
body .clientFormClass form .formDivCl .formContainer #address {
  min-height: 50px;
  max-height: 50px;
  resize: none;
}
body .clientFormClass form .formDivCl .formContainer .imgViewCl {
  display: grid;
}
body .clientFormClass form .formDivCl .formContainer .imgViewCl #imageViewer {
  margin: 10px auto;
  max-width: 300px;
  max-height: 400px;
}
body .clientFormClass form .formDivCl .formContainer label {
  margin-bottom: 10px;
}
body .clientFormClass form .formDivCl .formContainer input {
  border: none;
  font-size: 20px;
}
body .clientFormClass form .formDivCl .formContainer input[type=file],
body .clientFormClass form .formDivCl .formContainer input[type=time],
body .clientFormClass form .formDivCl .formContainer input[type=number] {
  font-size: 14px;
}
body .clientFormClass form .formDivCl .formContainer input[type=text] {
  width: auto;
}
body .clientFormClass form .formDivCl .coordinateContainer #map-canvas {
  width: 500px;
  height: 300px;
  margin-top: 10px;
}
body .clientFormClass form .formDivCl .timeContainer {
  display: grid;
  grid-template-columns: auto auto;
}
body .clientFormClass form .formDivCl .additionalClass {
  display: grid;
  grid-template-columns: auto auto;
}
body .clientFormClass form .formDivCl .additionalClass .checkClass {
  background: white;
  margin: 5px;
}
body .clientFormClass form .formDivCl .additionalClass .checkClass .formContainer {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}
body .clientFormClass form .formDivCl .additionalClass .checkClass .formContainer label {
  width: 150px;
}
body .clientFormClass form .formDivCl .additionalClass .secondInfoClass {
  background: white;
  margin: 5px;
  display: grid;
  grid-template-rows: auto auto;
}
body .clientFormClass form .formDivCl .additionalClass .secondInfoClass .liveMusicClass {
  margin: auto 0 auto 0;
}
body .clientFormClass form .formDivCl .additionalClass .secondInfoClass .formContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
body .clientFormClass form .formDivCl .additionalClass .secondInfoClass .formContainer input {
  height: 20px;
  width: 65px;
  background: #F2EDED;
  margin: auto 0 auto 0;
  text-align: center;
  font-size: 14px;
}
body .clientFormClass form .formDivCl .additionalClass .secondInfoClass .formContainer input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
body .clientFormClass form .formDivCl .additionalClass .secondInfoClass .formContainer label {
  margin: auto 0 auto 0;
}
body .clientFormClass form .formDivCl .typesClass .numberContainer {
  display: grid;
  grid-template-columns: 40px auto 110px 25px 25px;
  margin: 5px;
}
body .clientFormClass form .formDivCl .typesClass .numberContainer input[type=text] {
  margin: 0 10px;
}
body .clientFormClass form .formDivCl .typesClass .numberContainer input[type=checkbox] {
  margin: auto;
}
body .clientFormClass form .formDivCl .typesClass .numberContainer button {
  box-sizing: border-box;
}
body .clientFormClass form .formDivCl .typesClass .typesContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
body .clientFormClass form .formDivCl .typesClass .typesContainer select,
body .clientFormClass form .formDivCl .typesClass .typesContainer input[type=text] {
  width: 200px;
}
body .clientFormClass form .formDivCl .typesClass .typesContainer button {
  margin-left: 5px;
  width: 50px;
}
body .clientFormClass form .formDivCl .typesClass .multiselect {
  width: 200px;
}
body .clientFormClass form .formDivCl .typesClass .multiselect .selectBox {
  position: relative;
}
body .clientFormClass form .formDivCl .typesClass .multiselect .selectBox select {
  width: 100%;
  font-weight: bold;
}
body .clientFormClass form .formDivCl .typesClass .multiselect .selectBox .overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
body .clientFormClass form .formDivCl .typesClass .multiselect .checkboxes {
  width: 200px;
  display: none;
  border: 1px #dadada solid;
  position: absolute;
  background: white;
}
body .clientFormClass form .formDivCl .typesClass .multiselect .checkboxes label {
  display: block;
}
body .clientFormClass form .formDivCl .typesClass .multiselect .checkboxes label:hover {
  background-color: #1e90ff;
}
body .clientFormClass form .formDivCl .additInfoClass {
  display: flex;
  flex-direction: column;
}
body .clientFormClass form .formDivCl .additInfoClass textarea {
  margin-top: 5px;
  resize: none;
  width: auto;
  height: 50px;
}
body .clientFormClass form .buttonCl {
  display: grid;
  padding: 20px 0 40px 0;
}
body .clientFormClass form .buttonCl button[type=submit] {
  background-image: linear-gradient(to right, #FE9F6C, #E41C66);
  border: none;
  color: white;
  padding: 5px 50px;
  font-size: 20px;
  width: 200px;
  margin: 0 auto;
}
body .copyrightClass {
  background-image: linear-gradient(to right, #FE9F6C, #E41C66);
}
body .copyrightClass h4 {
  color: white;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 5px;
}
