body {
  height: 100%;
  margin: 0;
}
body img {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
body p {
  height: 100px;
  width: 400px;
  position: fixed;
  top: 40%;
  left: 40%;
}
body .ctLets {
  position: fixed;
  top: 63%;
  left: 48%;
}
body .bPageClass {
  background-color: white;
  width: 500px;
  height: 600px;
  overflow: auto;
  position: fixed;
  top: 10%;
  left: 30%;
  padding: 20px;
}
body .bPageClass .formContainer {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin: 5px;
}
body .bPageClass #map-canvas {
  height: 200px;
}
