body {
  margin: 0;
  padding: 0;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif, normal;
}
body .noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                        supported by Chrome, Opera and Firefox */
}
body .imgClass {
  background-image: url(newView/web-fon-01-01.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .imgClass .startClass {
  margin-top: 200px;
  margin-left: 150px;
  display: flex;
  flex-direction: row;
}
body .imgClass .startClass .imgCont {
  margin-right: 60px;
}
body .imgClass .startClass .imgCont img {
  width: 150px;
}
body .imgClass .startClass .pabutCont p {
  width: 500px;
  margin: 0;
}
body .imgClass .startClass .pabutCont a {
  color: black;
  border-bottom: 1px solid black;
  text-decoration: none;
  margin-top: 10px;
}
body .imgClass .startClass .pabutCont button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid #555555;
  border-radius: 10px;
  margin-top: 70px;
  font-family: inherit;
  padding: 1px 30px;
  font-size: 25px;
}
body .imgClass .startClass .pabutCont button:hover {
  background-color: #555555;
  color: white;
}
body .imgClass .chipsContainerClass {
  margin: 500px 100px 0 100px;
}
body .imgClass .chipsContainerClass h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  margin: 30px 0;
  font-weight: normal;
}
body .imgClass .chipsContainerClass .chipsGridCont {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1.5fr 1fr;
}
body .imgClass .chipsContainerClass .chipsGridCont p {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
body .imgClass .chipsContainerClass .chipsGridCont .chipsLeftCont {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .imgClass .chipsContainerClass .chipsGridCont .chipsImgCont {
  grid-column: 2;
  display: grid;
  position: relative;
}
body .imgClass .chipsContainerClass .chipsGridCont .chipsImgCont img {
  margin: 0 auto;
  height: 500px;
}
body .imgClass .chipsContainerClass .chipsGridCont .chipsImgCont #chipImg {
  height: 300px;
  width: 150px;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
body .imgClass .chipsContainerClass .chipsGridCont .chipsRightCont {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .appLinkClass {
  display: flex;
  flex-direction: row;
  margin: 20px 100px;
}
body .appLinkClass div {
  display: grid;
  grid-template-columns: auto auto;
}
body .appLinkClass div p {
  margin-right: 30px;
}
body .appLinkClass div div {
  margin: auto;
}
body .appLinkClass div div img {
  width: 150px;
}
body .friendsPicCont {
  display: grid;
}
body .friendsPicCont img {
  margin: auto;
}
body .clRegClass {
  background-color: #e41c66;
}
body .clRegClass h2 {
  color: white;
  text-align: center;
  font-weight: normal;
  padding: 10px;
  margin: 0;
}
body .clientFormClass {
  background-color: black;
}
body .clientFormClass form .formDivCl {
  margin: 0 auto;
  width: 500px;
  padding: 15px 70px;
  background: #f2eded;
}
body .clientFormClass form .formDivCl .formContainer {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
body .clientFormClass form .formDivCl .formContainer #address {
  min-height: 50px;
  max-height: 50px;
  resize: none;
}
body .clientFormClass form .formDivCl .formContainer .imgViewCl {
  display: grid;
}
body .clientFormClass form .formDivCl .formContainer .imgViewCl #imageViewer {
  margin: 10px auto;
  max-width: 300px;
  max-height: 400px;
}
body .clientFormClass form .formDivCl .formContainer label {
  margin-bottom: 10px;
}
body .clientFormClass form .formDivCl .formContainer input {
  border: none;
  font-size: 20px;
}
body .clientFormClass form .formDivCl .formContainer input[type="file"],
body .clientFormClass form .formDivCl .formContainer input[type="time"],
body .clientFormClass form .formDivCl .formContainer input[type="number"] {
  font-size: 14px;
}
body .clientFormClass form .formDivCl .formContainer input[type="text"] {
  width: auto;
}
body .clientFormClass form .formDivCl .coordinateContainer #map-canvas {
  width: 500px;
  height: 300px;
  margin-top: 10px;
}
body .clientFormClass form .formDivCl .timeContainer {
  display: grid;
  grid-template-columns: auto auto;
}
body .clientFormClass form .formDivCl .additionalClass {
  display: grid;
  grid-template-columns: auto auto;
}
body .clientFormClass form .formDivCl .additionalClass .checkClass {
  background: white;
  margin: 5px;
}
body .clientFormClass form .formDivCl .additionalClass .checkClass .formContainer {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}
body .clientFormClass form .formDivCl .additionalClass .checkClass .formContainer label {
  width: 150px;
}
body .clientFormClass form .formDivCl .additionalClass .secondInfoClass {
  background: white;
  margin: 5px;
  display: grid;
  grid-template-rows: auto auto;
}
body .clientFormClass form .formDivCl .additionalClass .secondInfoClass .liveMusicClass {
  margin: auto 0 auto 0;
}
body .clientFormClass form .formDivCl .additionalClass .secondInfoClass .formContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
body .clientFormClass form .formDivCl .additionalClass .secondInfoClass .formContainer input {
  height: 20px;
  width: 65px;
  background: #f2eded;
  margin: auto 0 auto 0;
  text-align: center;
  font-size: 14px;
}
body .clientFormClass form .formDivCl .additionalClass .secondInfoClass .formContainer input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}
body .clientFormClass form .formDivCl .additionalClass .secondInfoClass .formContainer label {
  margin: auto 0 auto 0;
}
body .clientFormClass form .formDivCl .typesClass .numberContainer {
  display: grid;
  grid-template-columns: 40px auto 110px 25px 25px;
  margin: 5px;
}
body .clientFormClass form .formDivCl .typesClass .numberContainer input[type="text"] {
  margin: 0 10px;
}
body .clientFormClass form .formDivCl .typesClass .numberContainer input[type="checkbox"] {
  margin: auto;
}
body .clientFormClass form .formDivCl .typesClass .numberContainer button {
  box-sizing: border-box;
}
body .clientFormClass form .formDivCl .typesClass .typesContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
body .clientFormClass form .formDivCl .typesClass .typesContainer select,
body .clientFormClass form .formDivCl .typesClass .typesContainer input[type="text"] {
  width: 200px;
}
body .clientFormClass form .formDivCl .typesClass .typesContainer button {
  margin-left: 5px;
  width: 50px;
}
body .clientFormClass form .formDivCl .typesClass .multiselect {
  width: 200px;
}
body .clientFormClass form .formDivCl .typesClass .multiselect .selectBox {
  position: relative;
}
body .clientFormClass form .formDivCl .typesClass .multiselect .selectBox select {
  width: 100%;
  font-weight: bold;
}
body .clientFormClass form .formDivCl .typesClass .multiselect .selectBox .overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
body .clientFormClass form .formDivCl .typesClass .multiselect .checkboxes {
  width: 200px;
  display: none;
  border: 1px #dadada solid;
  position: absolute;
  background: white;
}
body .clientFormClass form .formDivCl .typesClass .multiselect .checkboxes label {
  display: block;
}
body .clientFormClass form .formDivCl .typesClass .multiselect .checkboxes label:hover {
  background-color: #1e90ff;
}
body .clientFormClass form .formDivCl .additInfoClass {
  display: flex;
  flex-direction: column;
}
body .clientFormClass form .formDivCl .additInfoClass textarea {
  margin-top: 5px;
  resize: none;
  width: auto;
  height: 50px;
}
body .clientFormClass form .buttonCl {
  display: grid;
  padding: 20px 0 40px 0;
}
body .clientFormClass form .buttonCl button[type="submit"] {
  background-color: #e41c66;
  border: none;
  color: white;
  padding: 5px 50px;
  font-size: 20px;
  width: 200px;
  margin: 0 auto;
}
body .copyrightClass {
  background-color: #e41c66;
}
body .copyrightClass h4 {
  color: white;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 5px;
}
